
  @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');

body {
  margin: 0;
  font-family:  'Urbanist', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(229, 229, 207) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contact-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}